.idea/
venv/
__pycache__/
.DS_Store
chalice/.chalice/deployed/
chalice/.chalice/deployments/
chalice/chalicelib/config.json
terraform/**/.terraform/
*.tfstate
*.tfstate.backup
**/*.zip
deployment/
target/
*.tfvars
config.json
notebooks/.ipynb_checkpoints/
chalice/vendor/