.coverage
.idea/
venv/
__pycache__/
.DS_Store
chalice/.chalice/deployed/
chalice/.chalice/deployments/
chalice/chalicelib/
terraform/**/.terraform/
*.tfstate
*.tfstate.backup
**/*.zip
deployment/
target/
notebooks/.ipynb_checkpoints/
chalice/vendor/
data/
.python-version
