boto3==1.9.145
botocore==1.12.145
connexion[swagger-ui]==2.2.0
dcplib==2.1.0
hca==6.3.0
inflection==0.3.1
itsdangerous==0.24
loompy==2.0.15
MarkupSafe==1.0
numpy==1.15.2
pandas==0.25.0
psycopg2==2.7.5
PyYAML==4.2b1
requests==2.20.0
s3fs==0.1.6
scipy==1.1.0
tenacity==5.0.2
zarr==2.2.0

git+git://github.com/HumanCellAtlas/metadata-api@release/1.0b13#egg=hca-metadata-api
