argcomplete==1.9.4
attrs==17.4.0
boto3==1.7.56
botocore==1.10.56
cachetools==2.1.0
certifi==2018.4.16
chalice==1.5.0
chardet==3.0.4
click==6.7
CommonMark==0.7.5
crcmod==1.7
dcplib==1.2.1
docutils==0.14
enum34==1.1.6
future==0.16.0
google-api-core==1.2.1
google-auth==1.5.0
google-auth-oauthlib==0.2.0
google-cloud-core==0.28.1
google-cloud-storage==1.10.0
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
h5py==2.8.0
hca==4.1.0
idna==2.7
Jinja2==2.10
jmespath==0.9.3
jsonpointer==1.14
jsonschema==2.6.0
MarkupSafe==1.0
numpy==1.14.5
oauthlib==2.1.0
protobuf==3.6.0
puremagic==1.4
pyasn1==0.4.3
pyasn1-modules==0.2.2
python-dateutil==2.7.3
pytz==2018.5
requests==2.19.1
requests-oauthlib==1.0.0
rsa==3.4.2
s3transfer==0.1.13
scipy==1.1.0
six==1.11.0
tweak==0.6.7
typing==3.6.4
urllib3==1.23
