boto3==1.9.145
botocore==1.12.145
connexion[swagger-ui]==2.2.0
dcplib==2.1.0
hca==6.3.0
requests-http-signature==0.1.0
inflection==0.3.1
itsdangerous==0.24
loompy==2.0.15
MarkupSafe==1.0
numpy==1.22.2
pandas==0.25.0
psycopg2==2.7.5
PyYAML==5.4
requests==2.20.0
s3fs==0.1.6
scipy==1.1.0
tenacity==5.0.2
zarr==2.2.0

git+git://github.com/HumanCellAtlas/metadata-api@release/1.0b13#egg=hca-metadata-api
rsa>=4.7 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=1.26.5 # not directly required, pinned by Snyk to avoid a vulnerability
