boto3==1.7.69
botocore<1.11.0
connexion==1.5.2
inflection==0.3.1
itsdangerous==0.24
MarkupSafe==1.0
PyYAML==4.2b1
requests==2.20.0
zarr==2.2.0
pandas==0.23.4
hca==4.3.3
s3fs==0.1.6
numpy==1.15.2
loompy==2.0.15
scipy==1.1.0
zarr==2.2.0
dcplib==1.4.0
tenacity==5.0.2
