deployment_stage = ""
account_id = ""
aws_region = ""
converter_cluster_ami_id = ""
vpc_cidr_block = ""
redshift_username = ""
redshift_password = ""
gcp_service_acct_creds = ""
query_runner_concurrency = ""
