swagger: '2.0'
basePath: '/v0'
info:
  title: HCA Matrix Service
  description: Human Cell Atlas Matrix Service API
  version: 0.0.1
host: ${API_HOST}
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
definitions:
  MatrixRequest:
    type: object
    properties:
      bundle_fqids:
        type: array
        items:
          type: string
          format: dcp-fqid
      bundle_fqids_url:
        type: string
        format: url
      format:
        $ref: '#/definitions/MatrixFormat'
  MatrixFormat:
    type: string
    enum:
      - zarr
      - loom
      - csv
  MatrixResponse:
    type: object
    properties:
      request_id:
        type: string
        format: uuid
      status:
        $ref: '#/definitions/MatrixRequestStatus'
      key:
        type: string
      eta:
        type: string
      message:
        type: string
      links:
        type: array
        items:
          type: object
  MatrixRequestStatus:
    type: string
    enum:
      - In Progress
      - Complete
      - Failed
  MatrixResponseError:
    type: object
    properties:
      code:
        type: integer
      message:
        type: string
paths:
  /matrix:
    post:
      summary: Submit a matrix query request.
      operationId: matrix.lambdas.api.core.post_matrix
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/MatrixRequest'
      responses:
        "202":
          description: "matrix request accepted"
          schema:
            $ref: '#/definitions/MatrixResponse'
        "400":
          description: "bad request"
          schema:
            $ref: '#/definitions/MatrixResponseError'
  /matrix/{request_id}:
    get:
      summary: Retrieve the status, and result if available, of a matrix query request.
      operationId: matrix.lambdas.api.core.get_matrix
      parameters:
        - in: path
          name: request_id
          type: string
          required: true
      responses:
        "200":
          description: "request found"
          schema:
            $ref: '#/definitions/MatrixResponse'
        "404":
          description: "request not found"
          schema:
            $ref: '#/definitions/MatrixResponseError'
